<mat-toolbar color="primary" class="nav">
  <button *ngIf="show" mat-icon-button (click)="onToggleHandler()">
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <a routerLink="/">
      <img class="logo" src="../../../assets/logo.png" />
    </a>
  </div>
  <div class="nav" *ngIf="!show">
    <ul class="navigation-items">
      <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/training">Training</a>
      </li>
      <li *ngIf="isAuth">
        <a (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
